<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Operation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Register Operation</h1>
    </header>
    <hr>
    <form action="/register" method="post">
        <label for="asset_type">Asset Type:</label>
        <select  id="asset_type" name="asset_type" required>
            <option value="" disabled selected>Select an asset type</option>
            <option value="stock">Stock</option>
            <option value="realEstate">Real Estate</option>
        </select><br>

        <label for="operation_type">Operation Type:</label>
        <select  id="operation_type" name="operation_type" required>
            <option value="" disabled selected>Select an operation type</option>
            <option value="purchase">Purchase</option>
            <option value="sale">Sale</option>
            <option value="subscription">Subscription</option>
            <option value="prize">Prize</option>
        </select><br>

        <label for="ticker">Ticker:</label>
        <input type="text" id="ticker" name="ticker" required><br>
        
        <label for="date">Date:</label>
        <input type="date" id="date" name="date" min="2006-01-01" required><br>
        
        <label for="unit_price">Unit Price:</label>
        <input type="number" step="0.01" id="unit_price" name="unit_price" required><br>
        
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="1" required><br>
        
        <label for="fees">Fees:</label>
        <input type="number" step="0.01" id="fees" name="fees" required><br>
        
        <label for="taxes">Taxes:</label>
        <input type="number" step="0.01" id="taxes" name="taxes" required><br>
    
        <label for="irrf">IRRF:</label>
        <input type="number" step="0.01" id="irrf" name="irrf" required><br>
        
        <button type="submit">Submit</button>
        <span><button type="button" onclick="window.location.href='/records'">Consult Records</button></span>
    </form>
    
</body>
</html>
