<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Records</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
    <h1>Operations Record</h1></header>
    <hr><br>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Asset Type</th>
            <th>Operation Type</th>
            <th>Ticker</th>
            <th>Date</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Fees</th>
            <th>Taxes</th>
            <th>IRRF</th>
            <th>Timestamp</th>
        </tr>
        {% for op in operations %}
        <tr>
            <td>{{ op[0] }}</td>
            <td>{{ op[1] }}</td>
            <td>{{ op[2] }}</td>
            <td>{{ op[3] }}</td>
            <td>{{ op[4] }}</td>
            <td>{{ op[5] }}</td>
            <td>{{ op[6] }}</td>
            <td>{{ op[7] }}</td>
            <td>{{ op[8] }}</td>
            <td>{{ op[9] }}</td>
            <td>{{ op[10] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br><hr>
    <button type="button" onclick="window.location.href='/'">Register a New Operation</button>
    <footer></footer>
</body>
</html>
